---
import Layout from '../../layouts/Layout.astro';
import SectionContainer from '../../components/SectionContainer.astro';
---

<Layout title="Ruta Frontend 2024 | Todo lo que tienes que saber para ser un desarrollador frontend.">
	<main class="px-4 pt-24">
		
		<SectionContainer id="blog">
            <h3 class="text-[#ddede2] text-center text-2xl font-bold uppercase mb-2">¿Qué significa empezar desde cero?</h3>
            <p class="text-[#ddede2]/80 text-center text-sm font-medium mb-8">¿Aprender desarrollo web teniendo muy poca experiencia técnica se siente imposible a veces?, pues no estás solo.</p>

            <div class="flex mt-4 items-center justify-center gap-4">
                <a href="https://twitter.com/gonzz_dev" class="flex justify-center items-center gap-4">
                    <img class="size-8" src="/images/gonzz.svg" alt="Gonzz foto de perfil.">
                    <h4>José González</h4>
                </a>
                <p>|</p>
                <p class="text-[#ddede2]/80">Jueves 13 de Junio, 2024</p>
            </div>

		</SectionContainer>
	</main>
</Layout>