<div class="flex items-center justify-center pt-2">
    
    <span class="bg-[#36f2b3] text-[#0d161e] text-md font-semibold px-2.5 py-0.5 rounded-full border-[2px] border-[#36f2b3] hover:scale-105 hover:text-[#36f2b3] hover:bg-transparent hover:dark:bg-[#36f2b3] hover:dark:text-[#ddede2] hover:shadow-[0_0_10px_4px_rgba(54,242,179,0.2)] hover:shadow-primary-2 transition"><slot /></span>
    
</div>