<!-- Sección de desarrollo web -->
 <div class="p-5 mb-4 mt-8 border-[2px] border-[#ddede2]/20 rounded-lg bg-[#001c38]/20 hover:border-[#ddede2]/80 transition duration-500">
    <h3 class="text-lg font-semibold text-[#ddede2] dark:text-white">
        Para desarrollo web: <span class="text-[#ddede2]/40">(En progreso)</span>
    </h3>
    <ol class="mt-3 divide-y-2 divide-[#ddede2]/20 hover:divide-[#ddede2]/0 transition duration-500">
        <li>
            <a href="#" target="_blank" rel="noopener"class="items-center block p-3 sm:flex rounded-full hover:bg-[#ddede2]/20 transition">
                <img class="w-12 h-12 mb-3 me-3 sm:mb-0" src="/images/roadmap.svg" alt="CSS Logo."/>
                <div class="text-[#ddede2]/80">
                    <div class="text-base font-normal"><span class="font-semibold text-[#ddede2] hover:text-[#36f2b3] transition duration-200">Roadmaps.</span> Lista de mapas de aprendizaje para diferentes roles dentro del mundo del software.</div>
                    <div class="text-sm font-normal">Última actualización 09 de Julio 2024</div>
                </div>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener"class="items-center block p-3 sm:flex rounded-full hover:bg-[#ddede2]/20 transition">
                <img class="w-12 h-12 mb-3 me-3 sm:mb-0" src="/images/learn.svg" alt="Head Logo."/>
                <div class="text-[#ddede2]/80">
                    <div class="text-base font-normal"><span class="font-semibold text-[#ddede2] hover:text-[#36f2b3] transition duration-200">Aprende desarrollo web.</span> Lista de cursos y herramientas para aprender a programar ya sin costo.</div>
                    <div class="text-sm font-normal">Última actualización 09 de Julio 2024</div>
                </div>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener"class="items-center block p-3 sm:flex rounded-full hover:bg-[#ddede2]/20 transition">
                <img class="w-12 h-12 mb-3 me-3 sm:mb-0" src="/images/controller.svg" alt="CSS Logo."/>
                <div class="text-[#ddede2]/80">
                    <div class="text-base font-normal"><span class="font-semibold text-[#ddede2] hover:text-[#36f2b3] transition duration-200">Aprende con videojuegos.</span> Lista de videojuegos para aprender a programar.</div>
                    <div class="text-sm font-normal">Última actualización 09 de Julio 2024</div>
                </div>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener"class="items-center block p-3 sm:flex rounded-full hover:bg-[#ddede2]/20 transition">
                <img class="w-12 h-12 mb-3 me-3 sm:mb-0" src="/images/fight.svg" alt="Javascript Logo."/>
                <div class="text-[#ddede2]/80">
                    <div class="text-base font-normal"><span class="font-semibold text-[#ddede2] hover:text-[#36f2b3] transition duration-200">Retos de programación.</span> Aprende a programar a través de retos enfocados en diferentes tecnologías.</div>
                    <div class="text-sm font-normal">Última actualización 09 de Julio 2024</div>
                </div>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener"class="items-center block p-3 sm:flex rounded-full hover:bg-[#ddede2]/20 transition">
                <img class="w-12 h-12 mb-3 me-3 sm:mb-0" src="/images/tools.svg" alt="Javascript Logo."/>
                <div class="text-[#ddede2]/80">
                    <div class="text-base font-normal"><span class="font-semibold text-[#ddede2] hover:text-[#36f2b3] transition duration-200">Herramientas de desarrollo.</span> Fácilita tu vida con esta lista de herramientas para diferentes tareas.</div>
                    <div class="text-sm font-normal">Última actualización 09 de Julio 2024</div>
                </div>
            </a>
        </li>
    
    </ol>
</div>

<!-- Sección de diseño -->
<div class="p-5 mb-4 mt-8 border-[2px] border-[#ddede2]/20 rounded-lg bg-[#001c38]/20 hover:border-[#ddede2]/80 transition duration-500">
    <h3 class="text-lg font-semibold text-[#ddede2] dark:text-white">
        Para diseño gráfico y web: 
        <span class="text-[#ddede2]/40">(En progreso)</span>
    </h3>
    <ol class="mt-3 divide-y-2 divide-[#ddede2]/20 hover:divide-[#ddede2]/0 transition duration-500">
        <li>
            <a href="#" target="_blank" rel="noopener"class="items-center block p-3 sm:flex rounded-full hover:bg-[#ddede2]/20 transition">
                <img class="w-12 h-12 mb-3 me-3 sm:mb-0" src="/images/principles.svg" alt="Head Logo." />
                <div class="text-[#ddede2]/80">
                    <div class="text-base font-normal"><span class="font-semibold text-[#ddede2] hover:text-[#36f2b3] transition duration-200">Fundamentos del diseño.</span> Aprende los principios del diseño y herramientas la web.</div>
                    <div class="text-sm font-normal">Última actualización 09 de Julio 2024</div>
                </div>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener"class="items-center block p-3 sm:flex rounded-full hover:bg-[#ddede2]/20 transition">
                <img class="w-12 h-12 mb-3 me-3 sm:mb-0" src="/images/inspired.svg" alt="CSS Logo."/>
                <div class="text-[#ddede2]/80">
                    <div class="text-base font-normal"><span class="font-semibold text-[#ddede2] hover:text-[#36f2b3] transition duration-200">Inspiración.</span> Los mejores lugares de la web para encontrar referencias.</div>
                    <div class="text-sm font-normal">Última actualización 09 de Julio 2024</div>
                </div>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener"class="items-center block p-3 sm:flex rounded-full hover:bg-[#ddede2]/20 transition">
                <img class="w-12 h-12 mb-3 me-3 sm:mb-0" src="/images/tools.svg" alt="Javascript Logo."/>
                <div class="text-[#ddede2]/80">
                    <div class="text-base font-normal"><span class="font-semibold text-[#ddede2] hover:text-[#36f2b3] transition duration-200">Herramientas de diseño.</span> Fácilita tu vida con esta lista de herramientas para diferentes tareas.</div>
                    <div class="text-sm font-normal">Última actualización 09 de Julio 2024</div>
                </div>
            </a>
        </li>
    
    </ol>
</div>