<footer>
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between mt-20">
      <span class="text-sm text-[#ddede2] sm:text-center" >2024 <a href="https://streambyte.mx/" class="hover:underline">StreamByte</a>
        | Creado con 💖 por José Gonzz
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-[#ddede2] sm:mt-0">
        <li>
            <a href="https://gonzz.dev" target="_blank" rel="noopener" class="hover:underline me-4 md:me-6">gonzz.dev</a>
        </li>
    </ul>
    </div>
</footer>
